.container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    position: relative;

    .createPostButton{
        position: absolute;
        right: 37px;
        cursor: pointer;
        transition: transform 0.1s;
        &:hover{
            transform: scale(1.05);

        }
    }
    & .titleList {
        padding-top: 50px;
        text-align: center;
    }

    & .postsList {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

